.cart-dropdown-container {
  position: absolute;
  width: 280px;
  height: 360px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 280px;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #e4e4e4;
      border-radius: 100px;
    }
  }

  button {
    margin-top: 10px;
  }
}
